.container {
  padding: 0px 30px;
}
.container > .row {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 10vh;

  .col-md-6,
  .col-md-12 {
    //  margin: 5000px auto!important;
    padding: 15px;
    border-radius: 19px;
    background: #d3dedf;
    box-shadow: 5px 5px 10px #b3bdbe, -5px -5px 10px #f3ffff;
    margin: 50px auto !important;
    input {
      background: #d3dedf;
      box-shadow: inset 20px 20px 60px #b3bdbe, inset -20px -20px 60px #f3ffff;
    }
    .btn-default,
    .btn-primary {
      color: #fff;
      background-color: #306584;
      border-color: #306584;
    }
  }
}
